{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">

    <div class="layui-card-header">编辑VB</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="{:url('admin/main/edit')}" method="post">
            <input type="hidden" name="id" value="{$data.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label">代理商名称</label>
                <div class="layui-input-inline">
                    <select name="userid" lay-filter="userno" lay-search="">
                        {volist name="agents" id="vo"}
                        <option value="{$vo['userid']}" {eq name="vo.userid" value="$data.uid" }selected{/eq}>{$vo['nickname'].'__'.$vo['username']}</option>
                        {/volist}
                    </select>
                </div>
             </div>
            <div class="layui-form-item">
                <label class="layui-form-label">操作类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="1" title="增加VB" {if condition="$data.vb > 0"}checked="checked"{/if}>
                    <input type="radio" name="type" value="-1" title="VB扣款" {if condition="$data.vb < 0"}checked="checked"{/if}>
                </div>
            </div>
             <div class="layui-form-item">
                <label class="layui-form-label">VB数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="vb" lay-verify="number" autocomplete="off" class="layui-input"  value="{$data.vb|abs}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">改动缘由</label>
                <div class="layui-input-inline">
                    <select name="source" lay-filter="source" lay-search="">
                        {volist name="sourcelist" id="vo"}
                        <option value="{$vo}" {eq name="vo" value="$data.source" }selected{/eq}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn layui-btn-normal" href="{:url('admin/main/index')}">记录不可编辑，点击返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script" }
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}