{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <blockquote class="layui-elem-quote news_search">
                <form class="layui-form" action="{:url('admin/main/index')}" method="post" id="form">
                    {if condition="$searchwhere['r'] eq 1"}
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-sm" href="{:url('admin/main/add')}">添加VB</a>
                        </div>
                    {/if}
                    <div class="layui-inline">
                        <label class="layui-form-label">代理商名称</label>
                        <div class="layui-input-inline">
                            <select name="userid" lay-filter="userid">
                                {volist name="userlist" id="vo"}
                                    {if condition="$vo['id'] eq $searchwhere['u']"}
                                        <option value="{$vo['id']}" selected="selected">{$vo['title']}</option>
                                    {else/}
                                        <option value="{$vo['id']}">{$vo['title']}</option>
                                    {/if}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="createtime" readonly="readonly" value="{$searchwhere.t}" class="layui-input" id="createtime1" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-sm" id="search" lay-submit="" lay-filter="demo1">查询</button>
                        </div>
                    </div>
                    <input type="hidden" id="page" name="page" value="{$page}" />
                    <input type="hidden" id="fenyequery" name="fenye" value="0" />
                </form>
            </blockquote>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>代理商编号</th>
                    <th>代理商名称</th>
                    <th>现持有VB</th>
                    <th>来源</th>
                    <th>最新操作时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                {volist name="vblist" id="vo"}
                <tr>
                    <td>{$vo.userno}</td>
                    <td>{$vo.agent_name}</td>
                    <td style="text-align: right">{$vo.vb}</td>
                    <td>{$vo.source}</td>
                    <td>{php} echo date("Y-m-d H:i:s", $vo['create_time']) {/php}</td>
                    <td>
                        {if condition="$searchwhere['r'] eq 1"}
                        <a class="layui-btn layui-btn-xs" href="{:url('admin/main/edit',['id'=>$vo.id])}">编辑</a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                <thead>
                    <td>满足查询条件的所有记录的VB总计</td>
                    <td colspan="5">{$total}</td>
                </thead>
                </tbody>
            </table>
            <div style="text-align: right" id="fenye"></div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<!--<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>-->
<script  type="text/javascript">
    layui.use(['element', 'layer', 'form','laydate','laypage'], function() {
        var element = layui.element,
            layer = layui.layer,
            $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#createtime1'
        });

        //完整功能
        laypage.render({
            elem: 'fenye'
            ,limit: {$pagesize}
            ,count: {$count}
            ,curr: {$page}
            ,layout: ['prev', 'page', 'next','count']
            ,jump: function(obj,first){
                if(!first){
                    $('#page').val(obj.curr);
                    $('#fenyequery').val(1);
                    $("#form").submit();
                }
            }
        });

        /* 监听状态设置开关 */
        form.on('switch(switchStatus)', function(data) {
            var that = $(this),
                status = 0;
            if (!that.attr('data-href')) {
                layer.msg('请设置data-href参数');
                return false;
            }
            if (this.checked) {
                status = 1;
            }
            $.get(that.attr('data-href'), { status: status }, function(res) {
                layer.msg(res.msg);
                if (res.code == 1) {
                    that.trigger('click');
                    form.render('checkbox');
                }
            });
        });

        //ajax get请求
        $('.ajax-get').click(function() {
            var target;
            var that = this;
            if ($(this).hasClass('confirm')) {
                layer.confirm('确认要执行该操作吗?', { icon: 3, title: '提示' }, function(index) {
                    if ((target = $(that).attr('href')) || (target = $(that).attr('url'))) {
                        $.get(target).success(function(data) {
                            if (data.code == 1) {
                                if (data.url) {
                                    layer.msg(data.msg + ' 页面即将自动跳转~');
                                } else {
                                    layer.msg(data.msg);
                                }
                                setTimeout(function() {
                                    if (data.url) {
                                        location.href = data.url;
                                    } else {
                                        location.reload();
                                    }
                                }, 1500);
                            } else {
                                layer.msg(data.msg);
                                setTimeout(function() {
                                    if (data.url) {
                                        location.href = data.url;
                                    }
                                }, 1500);
                            }
                        });

                    }
                    layer.close(index);
                });
            };
            return false;
        });

        //通用表单post提交
        $('.ajax-post').on('click', function(e) {
            var target, query, form1;
            var target_form = $(this).attr('target-form');
            var that = this;
            var nead_confirm = false;

            form1 = $('.' + target_form);
            if ($(this).attr('hide-data') === 'true') {
                form1 = $('.hide-data');
                query = form1.serialize();
            } else if (form1.get(0) == undefined) {
                return false;
            } else if (form1.get(0).nodeName == 'FORM') {
                if ($(this).hasClass('confirm')) {
                    if (!confirm('确认要执行该操作吗?')) {
                        return false;
                    }
                }
                if ($(this).attr('url') !== undefined) {
                    target = $(this).attr('url');
                } else {
                    //target = form1.get(0).action;
                    target = form1.attr("action");
                }
                query = form1.serialize();
            } else if (form1.get(0).nodeName == 'INPUT' || form1.get(0).nodeName == 'SELECT' || form1.get(0).nodeName == 'TEXTAREA') {
                form1.each(function(k, v) {
                    if (v.type == 'checkbox' && v.checked == true) {
                        nead_confirm = true;
                    }
                })
                if (nead_confirm && $(this).hasClass('confirm')) {
                    if (!confirm('确认要执行该操作吗?')) {
                        return false;
                    }
                }
                query = form1.serialize();
            } else {
                if ($(this).hasClass('confirm')) {
                    if (!confirm('确认要执行该操作吗?')) {
                        return false;
                    }
                }
                query = form1.find('input,select,textarea').serialize();
            }


            $.post(target, query).success(function(data) {
                if (data.code == 1) {
                    if (data.url) {
                        layer.msg(data.msg + ' 页面即将自动跳转~');
                    } else {
                        layer.msg(data.msg);
                    }
                    setTimeout(function() {
                        if (data.url) {
                            location.href = data.url;
                        } else {
                            location.reload();
                        }
                    }, 1500);
                } else {
                    layer.msg(data.msg);
                    setTimeout(function() {
                        if (data.url) {
                            location.href = data.url;
                        }
                    }, 1500);
                }
            });
            return false;
        });


    });
</script>
{/block}