{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <blockquote class="layui-elem-quote news_search">
                <form class="layui-form" action="{:url('admin/main/index')}" method="post">
                    {if condition="$searchwhere['r'] eq 1"}
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-sm" href="{:url('admin/main/add')}">添加VB</a>
                        </div>
                    {/if}
                    <div class="layui-inline">
                        <label class="layui-form-label">代理商名称</label>
                        <div class="layui-input-inline">
                            <select name="userid" lay-filter="userid">
                                {volist name="userlist" id="vo"}
                                    {if condition="$vo['id'] eq $searchwhere['u']"}
                                        <option value="{$vo['id']}" selected="selected">{$vo['title']}</option>
                                    {else/}
                                        <option value="{$vo['id']}">{$vo['title']}</option>
                                    {/if}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="createtime" readonly="readonly" value="{$searchwhere.t}" class="layui-input" id="createtime1" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="demo1">查询</button>
                        </div>
                    </div>
                </form>
            </blockquote>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>代理商编号</th>
                    <th>代理商名称</th>
                    <th>现持有VB</th>
                    <th>来源</th>
                    <th>最新操作时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="vblist" id="vo"}
                <tr>
                    <td>{$vo.userno}</td>
                    <td>{$vo.agent_name}</td>
                    <td>{$vo.vb}</td>
                    <td>{$vo.source}</td>
                    <td>{php} echo date("Y-m-d h:i:s", $vo['create_time']) {/php}</td>
                    <td>
                        {if condition="$searchwhere['r'] eq 1"}
                        <a class="layui-btn layui-btn-xs" href="{:url('admin/main/edit',['id'=>$vo.id])}">编辑</a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block} {block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}