{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <blockquote class="layui-elem-quote news_search">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm" href="{:url('admin/manager/add')}">留空搜索</a>
                </div>
            </blockquote>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>代理商编号</th>
                    <th>代理商名称</th>
                    <th>现持有VB</th>
                    <th>来源</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {volist name="vblist" id="vo"}
                <tr>
                    <td>{$vo.userno}</td>
                    <td>{$vo.agent_name}</td>
                    <td>{$vo.vb}</td>
                    <td>{$vo.source}</td>
                    <td>{php} echo date("Y-m-d h:i:s", $vo['create_time']) {/php}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block} {block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}